.contenitore {
    width: 1920px;
    height: 1080px;
    border: 5px solid black;
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
}
.contenitoreonde {
    width: 1920px;
    height: 1080px;
  position: relative;
/*
    border: 5px solid black;
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
*/
/*
    z-index: 2;
    position: absolute;
    display: flex;
*/
}
.primavela {
    width: 344px;
    height: 187px;
    background: black;
    position: absolute;
    top: 457px;  
}
.secondavela {
    width: 336px;
    height: 124px;
    background: black;
    position: absolute;
    top: 314px;  
}
.alberomaestro {
    width: 26px;
    height: 500px;
    background: black;
    position: absolute;
    top: 246px;  
}
.cestocerchio {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 206px;
}
.cestorettangolo {
    width: 80px;
    height: 40px;
    background: black;
    position: absolute;
    top: 206px;
}
.alberellocima {
    width: 10px;
    height: 130px;
    background: black;
    position: absolute;
    top: 99px;
}
.basenave {
    width: 242px;
    height: 133px;
    background: black;
    position: absolute;
    top: 718px;
}
.chiglia {
    width: 242px;
    height: 242px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 737px;
}
.basealbero {
    width: 150px;
    height: 150px;
    background: black;
    position: absolute;
    top: 690px;
    transform: rotate(45deg);
    
}
.bandiera{
    width: 81px;
    height: 46px;
    background: black;
    position: absolute;
    top: 105px;
    margin-left: 72px;
}
.onda{
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: black;
    position: relative;
    top: 850px;
    left: -450px;
}
.onda1{
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 810px;
    left: 400px;
}











