.contenitore {
  width: 840px;
  height: 600px;
  background-color: whitesmoke;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
}
.cartagomma {
  width: 71px;
  height: 130px;
  background-color: black;
  border-radius: 10px;
  margin-top: 366px;
  margin-left: 150px;
}
.gomma {
  width: 65px;
  height: 65px;
  background-color: black;
  border-radius: 10px;
  margin-top: 331px;
  margin-left: 153px;
  position: absolute;
}
.penna {
  width: 11px;
  height: 80px;
  background-color: black;
  margin-top: 189px;
  margin-left: 30px;
}
.penna1 {
  width: 23px;
  height: 321px;
  background-color: black;
  margin-top: 177px;
}
.matita {
  width: 22px;
  height: 303px;
  background-color: black;
  margin-top: 195px;
  margin-left: 23px;
}
.punta {
  width: 0; height: 0; line-height: 0;
  border-bottom: 20px solid black;
  border-left:   11px solid transparent;
  border-right:  11px solid transparent;
  position: absolute;
  margin-top: 175px;
  margin-left: 308px;
}
.squadra {
  width: 0; height: 0; line-height: 0;
  border-bottom: 408px solid black;
  border-left:   0px solid transparent;
  border-right:  155px solid transparent;
  margin-left: 23px;
  margin-top: 90px;
}
.squadrabianca {
  width: 0; height: 0; line-height: 0;
  border-bottom: 215px solid whitesmoke;
  border-left:   0px solid transparent;
  border-right:  80px solid transparent;
  margin-left: 28px;
  margin-top: 160px;
}
.cerchiogrande {
  width: 234px;
  height: 220px;
  background-color: black;
  border-radius: 50%;
  margin-top: 280px;
  margin-left: -15px;
}
.cerchiopiccolo {
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
.rettangolo {
  width: 202px;
  height: 20px;
  background-color: whitesmoke;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -100px;
}










