body{
    background-color: #121212;
}

h1 {
    color: red;
    text-align: center;
    margin: 0 auto;
}

.flag{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    width: 900px;
    height: 600px;
/*    border: 20px solid #f1f1f1;*/
    box-sizing: border-box;
    
}

.diamond {
  
    margin-left: 100px;
    position: absolute;
    top: 50%;
    margin-top: -115px;
    background-color: whitesmoke;
    border-radius: 50px;
    width: 230px;
    height: 230px;
    transform: rotate(45deg);
}

.diamond1 {

    margin-left: 280px;
    position: absolute;
    top: 50%;
    margin-top: -115px;
    background-color: whitesmoke;
    border-radius: 50px;
    width: 230px;
    height: 230px;
    transform: rotate(45deg);
}

.linea {
    background-color: whitesmoke;
    height: 100px;
    width: 900px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.linea1 {
    background-color: #0369a0;
    height: 500px;
    width: 900px;
    position: absolute;
    top: 50%;
    margin-top: -50x;
}

/*
.cerchio {
    background-color: #03A9F4;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    margin-left: 650px;
    position: absolute;
    top: 50%;
    margin-top: -400px;
}
*/


